@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&family=Inter:wght@400;500;700;800&family=JetBrains+Mono:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --color-api-navy: #00508F;
  --color-api-gold: #FFC72C;
  --color-api-gray: #F2F4F7;
  --color-api-text: #1a202c;
  --color-api-accent: #00508F;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --rounded-huge: 2rem;
}

@layer base {
  body {
    @apply bg-api-gray text-api-text antialiased selection:bg-api-accent/20 selection:text-api-navy font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full transition-colors hover:bg-gray-300;
}

.prose h1, .prose h2, .prose h3 {
  @apply font-black text-api-navy tracking-tight;
}

.btn-primary {
  @apply bg-api-navy text-white px-8 py-4 rounded-2xl hover:bg-[#002244] active:scale-[0.98] transition-all font-black text-xs uppercase tracking-widest flex items-center justify-center gap-2 shadow-xl shadow-blue-900/10;
}

.btn-secondary {
  @apply bg-api-accent text-white px-8 py-4 rounded-2xl hover:bg-[#65a33c] active:scale-[0.98] transition-all font-black text-xs uppercase tracking-widest flex items-center justify-center gap-2 shadow-xl shadow-green-900/10;
}
